static
media
local_settings.py
*.pyc
*.pyo
.*.swp
.*.swo
*.back
*~
#*#
.#*

.DS_Store
.vimsess
.env-name
.project-name
.runserver-port

.whoosh
*.sqlite
*.db

local.json
local_middleware.py
